.map-container {
  padding: 5px;
  text-align: center;
  background-color: #fff;
}




.iframe-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
}


@media screen and (max-width: 768px) {
  

  .map-title {
    font-size: 1.8rem;
  }
}
